.welcome-block{
    background: rgba($color: #4e64e2, $alpha: 1.0);
    width: 100%;
    height: 80vh;
}

.second-block{
    background: rgba($color: #e7691f, $alpha: 1.0);
    width: 100%;
    height: 80vh;
}
.third-block{
    background: rgba($color: #bb2834, $alpha: 1.0);
    width: 100%;
    height: 250px;
}
.fourth-block{
    background: palegoldenrod;
    width: 100%;
    height: 250px;
}